{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Google Ads API Interaction</title>
    <meta name="description" content="Google Ads API Interaction">
    <meta name="author" content="Devsar">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Google Ads API Interaction</span>
    </nav>
    <div class="container" style="margin-top: 50px">
      <!-- Content here -->
      {% block content %}
      {% endblock %}
    </div>
    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>